@media only screen and(min-width: 700px) {

}

.center{
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:150px;
}
body{
  font-size: 16px;
  font-family:Arial,Helvetica,sans-serif;
  line-height: 1.2;

width: 100%;
height: 100%;
left: 0px;
top: 0px;


background: linear-gradient(180deg, #04CE00 0%, #008585 36.98%);}

main{
display:block;
margin:auto;
width:500px
}

/*image*/


img{

width:600px;
align:center;
border-radius: 15px;}


.web {
  height:200px;
  width:200px;
  position: relative;
   top: -50px;
   left:900px;
}

.string{
  position: fixed;
  left:1023px;
  top:-50px;
  height:950px;
  width:5px;
}

.spider {
  margin-right:0;
  position: fixed;
  top: 700px;
  left: 950px;
  right:0px;
  width: 150px;
  height:150px
}


/*this section is the first line*/
h1{
  font-family:'Freckle Face';
  font-size:60px;
  color:white;
  box-sizing: border-box;

  position:relative;
  text-align: center;
  width: auto;
  height: auto;
  left: auto;
  top: 15px;
  margin-right: auto;
  margin-left: auto;


  background: #411688;
  border-radius: 15px;}

  /* this section is 'Halloween to stick it to corp. */
  h4{
    font-family:'Freckle Face';
    font-size:45px;
    color:white;
    text-align: center;
    margin:20px 20px 20px 20px;

    box-sizing: border-box;

  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;

  background: #411688;
  border-radius: 15px;}

/*this stuff is for links!*/
a:link{
color:white;
text-decoration: none;
}
a:visited{
  color:lime;
  text-decoration: none;
}


/*this section is the first list of songs with the numbers*/
ol{
  line-height: 1.2;
  margin:20px 20px 20px 20px;}

  h3{
    font-family: 'Baloo';
    font-size:30px;
    color:white;
    text-align: Left;
    box-sizing: border-box;



  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;

  background: #6232B0;
  border-radius: 30px;}

    /*this section is the bottom list of songs*/
  h2{
    font-family:'Freckle Face';
    font-size:30px;
    color:white}

    p{ font-family:'Baloo';
    text-align:left;
  font-size:20px;
  color:#411688;
